{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layouts/default/_header.html.twig' %}

    <main class="app-main p-5">
        {% include 'layouts/_alert.html.twig' %}

        {% block main %}{% endblock %}
    </main>

    {% include 'layouts/default/_footer.html.twig' %}
{% endblock %}
