{% extends 'layouts/_index.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block main %}
    <h1>Bienvenue sur mon blog !</h1>

    {% for i in 1..50 %}
        <p>Coucou</p>
    {% endfor %}
    <p>Fin.</p>
{% endblock %}
