<form method="post"
      action="{{ path('app_blog_post_delete', {'id': post.id}) }}"
      onsubmit="return confirm('Confirmez-vous la suppression de cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn">Supprimer</button>
</form>
