{% extends 'layouts/_index.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block main %}
    <h1>Edit Post</h1>

    {{ include('blog/post/index/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blog_post_index') }}">back to list</a>

    {{ include('blog/post/index/_delete_form.html.twig') }}
{% endblock %}
