{% extends 'layouts/_index.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block main %}
    <h1>Nouvel Article</h1>

    {{ include('blog/post/index/_form.html.twig') }}

    <a href="{{ path('app_blog_post_index') }}">Retour à la liste</a>
{% endblock %}
